{% extends "base.html" %}

{% block title %}Database Contents{% endblock %}

{% block content %}
    <h1 class="page-title">Database Contents</h1>

    <table class="styled-table">
        <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Points</th>
            <th>Cart</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user['User ID'] }}</td>
                <td>{{ user['Name'] }}</td>
                <td>{{ user['Email'] }}</td>
                <td>{{ user['Role'] }}</td>
                <td>{{ user['Points'] }}</td>
                <td>{{ user['Cart'] }}</td>
                <td class="action-buttons">
                    <a href="/update_user/{{ user['User ID'] }}" class="btn-link">Update</a>
                    <form action="/delete_user/{{ user['User ID'] }}" method="POST" style="display: inline;">
                        <button type="submit" class="btn-delete">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<a href="/add_user" class="action-button">Add User</a>

    <a href="/dashboard" class="back-btn">Back to Dashboard</a>
{% endblock %}